body {
	background-color: #8AA37B
}
#navbar {
	position: fixed;
	top: -15px;
	left: 0;
	right: 0;
	background-color: #222;
	box-shadow: 3px 3px 5px black;
	height: 60px;
	border-radius: 20px;
}

.navbox {
	display: inline-block; 
	width: 70px;
	height: 40px;
	background-color: #222;
	text-align: center;
	float: left;
	margin-top: 15px;
	line-height: 40px;
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px 3px #D0D0D0;
	transition: background-color .75s, text-shadow .75s, color .75s;
	-webkit-transition: background-color .75s, text-shadow .75s, color .75s;
	-o-transition: background-color .75s, text-shadow .75s, color .75s;
	-moz-transition: background-color .75s, text-shadow .75s, color .75s;
}
.first {
	margin-left: 10px;
}
.navbox:hover {
	background-color: #666;
	text-shadow: 2px 2px 4px #E0E0E0;
}
.navbox:active {
	background-color: #111;
	color: #F0F0F0;
	text-shadow: 2px 2px 3px #B0B0B0;
	
}

.navlink {
	padding-top: 15px;
	color: inherit;
	text-decoration: none;
	position: relative;
	top: 15px;
}

.subNavbox {
	display: inline-block; 
	width: 70px;
	height: 40px;
	background-color: #222;
	text-align: center;
	position: relative;
	top: -15px;
	line-height: 40px;
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px 3px #D0D0D0;
	transition: background-color .75s, text-shadow .75s, color .75s;
	-webkit-transition: background-color .75s, text-shadow .75s, color .75s;
	-o-transition: background-color .75s, text-shadow .75s, color .75s;
	-moz-transition: background-color .75s, text-shadow .75s, color .75s;
}
.subNavbox:hover {
	background-color: #666;
	text-shadow: 2px 2px 4px #E0E0E0;
}
.subNavbox:active {
	background-color: #111;
	color: #F0F0F0;
	text-shadow: 2px 2px 3px #B0B0B0;	
}
p {
	margin-top: 50px;
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	color: #D0D0D0;
	text-shadow: 2px 2px 3px #000;
}